* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
        background-color: #253026;
    color: rgb(251, 249, 249);
}

header {
    padding: 20px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(241, 236, 236);
    text-decoration: none;
    font-weight: bold;
}

.brand {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.logo {
    width: 60px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}